<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}
    Target Material Design Bootstrap Admin Template  
    {% endblock %}</title> 

    {% block page_header %}
    {% endblock %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../static/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../static/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="../static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../static/assets/css/custom-styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="../static/assets/js/Lightweight-Chart/cssCharts.css"> 
</head>

<body>
    <div id="wrapper">
       
     <!--/. NAV TOP  -->
     {% include "panelcontrol/top.html" %}
        
     <!-- /. NAV SIDE  -->
     {% include "panelcontrol/nav.html" %}      
      <!-- /.Page-WRAPPER -->
      <div id="page-wrapper" >
      {% block pwrapper %}
      {% endblock %}
      </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../static/assets/js/jquery-1.10.2.js"></script>
  
  <!-- Bootstrap Js -->
    <script src="../static/assets/js/bootstrap.min.js"></script>
  
  <script src="../static/assets/materialize/js/materialize.min.js"></script>
  
    <!-- Metis Menu Js -->
    <script src="../static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="../static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="../static/assets/js/morris/morris.js"></script>
  
  
  <script src="../static/assets/js/easypiechart.js"></script>
  <script src="../static/assets/js/easypiechart-data.js"></script>
  
   <script src="../static/assets/js/Lightweight-Chart/jquery.chart.js"></script>
  
    <!-- Custom Js -->
    <script src="../static/assets/js/custom-scripts.js"></script> 
 

</body>

</html>
